@import '../../assets/styles/variables';


.experiense {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    height: auto;
    border-top: 1px solid $mainYellow;
    border-bottom: 1px solid $mainYellow;
    padding: 20px 20px;
    
}