@import '../../assets/styles/variables';

.navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &-title__text {
        font-size: 12px;
        text-transform: uppercase;
        color: $mainYellow;
        &:hover {
            cursor: pointer;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    &-buttons {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &-radio {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin: 10px 0;

        &__line {  
            width: 2px;
            height: 20px;
            background-color: $mainYellow;
        }

        &__back {
            width: 20px;
            height: 20px;
            border: 2px solid $mainYellow;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
            }
        }
        &__front {
            //width: 80px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            align-items: center;
            right: 4px;

           &__point {
            width: 12px;
            height: 12px;
            background-color: $mainYellow;
            border-radius: 50%;
           }
           &__text {
            width: 70%;
            color: $mainYellow;
            font-size: 12px;
						font-weight: bold;
						
            @media screen and (max-width: 991px) {
            	width: 80%;
            }
           }
        }
    }

    &__arrow {
        &__up {
            margin-bottom: 10px;
            width: 18px;
            height: 18px;
            border-top: 2px solid $mainYellow;
            border-right: 2px solid $mainYellow;
            transform: rotate(-45deg);
            &:hover {
                cursor: pointer;
            }
            
        }
        &__down {
            margin-top: 10px;
            width: 18px;
            height: 18px;
            border-bottom: 2px solid $mainYellow;
            border-left: 2px solid $mainYellow;
            transform: rotate(-45deg);
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-change_text {
        font-size: 12px;
        text-transform: uppercase;
        color: $mainYellow;
        &:hover {
            cursor: pointer;
        }
    }
}

.button_hide {
    display: none;
}


.button_showdsasdasd {
    display: flex;
}
.button_showasddd {
    display: flex;
}
.button_showdsss {
    display: flex;
}
.button_showdsadasd {
    display: flex;
}
.button_showasd {
    display: flex;
}