@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Varela+Round');
@import './variables';

html, body  {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px 0;
  background-image: linear-gradient(-95deg, $gradiemtStart 0%, $gradiemtEnd 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
h1, h2, h3, h4, h5, h6, button, span, ul, li {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px 15px;
  flex-direction: column;
 
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
.details {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

 

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}