@import '../../assets/styles/variables';

.experiense-display {
    display: flex;
    width: 400px;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;

    &-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__position {
        color: $mainYellow;
        display: flex;
        flex-direction: column;
        text-transform: lowercase;
        font-size: 12px;
        margin: 10px 0;
        
        &__name { 
            color: $lightFont;
            text-transform: uppercase;
        }
    }

    &-images {
        width: 250px;
        height: 200px;
        
        &__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}